name: Test example1

on:
  push:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  WORKING_DIRECTORY: ./assets/examples/example1

jobs:
  default:
    runs-on: ubuntu-latest

    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
      - uses: percebus/github-actions-python/.github/actions/setup@main

      - uses: ./.github/actions/install-upgrade
        with:
          requirements-file: ""

      - uses: ./.github/actions/install
        with:
          requirements-file: ${{ env.WORKING_DIRECTORY }}/requirements.txt

      - uses: ./.github/actions/freeze

  python__matrix:
    needs: default
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          # - "3.13"  # Already tested from .python-version

    name: python @ ${{ matrix.python-version }}
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
      - uses: percebus/github-actions-python/.github/actions/setup@main
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/install-upgrade
        with:
          requirements-file: ${{ env.WORKING_DIRECTORY }}/requirements.upgrade.txt

      - uses: ./.github/actions/install
        with:
          requirements-file: ${{ env.WORKING_DIRECTORY }}/requirements.txt

      - uses: ./.github/actions/freeze

  requirements-file__matrix:
    needs: default
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        requirements-file:
          - requirements.txt
          - requirements.dev.txt
          - requirements.release.txt

    name: "-r ${{ matrix.requirements-file }}"
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
      - uses: percebus/github-actions-python/.github/actions/setup@main

      - uses: ./.github/actions/install-upgrade
        with:
          requirements-file: ${{ env.WORKING_DIRECTORY }}/requirements.upgrade.txt

      - uses: ./.github/actions/install
        with:
          requirements-file: ${{ env.WORKING_DIRECTORY }}/${{ matrix.requirements-file }}

      - uses: ./.github/actions/freeze
